<!DOCTYPE html>
<html>
<head>
  <title>RailsSandbox</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Layout</h1>

  <div>
    <%= yield %>
  </div>

  <footer>
    EOF
  </footer>
</body>
</html>
